@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.b {
    background: transparent;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre {
    display: block
    }
.calibre1 {
    background: transparent;
    text-decoration: none
    }
.calibre2 {
    border-bottom-color: #000;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: none;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: none;
    border-top-width: 1px;
    clear: both;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0
    }
.calibre3 {
    background: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline;
    width: auto
    }
.center {
    background: transparent;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    vertical-align: baseline
    }
.font-size80per {
    background: transparent;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.font-size120per {
    background: transparent;
    font-size: 1.29167em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.img-fit {
    background: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: top;
    width: auto
    }
.indent4em_m {
    background: transparent;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4em;
    text-indent: -4em;
    vertical-align: baseline
    }
.left {
    background: transparent;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    vertical-align: baseline
    }
.middle {
    -epub-hyphens: auto;
    -epub-line-break: normal;
    -epub-text-align-last: left;
    -epub-text-underline-position: under left;
    -epub-word-break: normal;
    -webkit-hyphens: auto;
    -webkit-line-break: normal;
    -webkit-text-align-last: left;
    -webkit-text-underline-position: under left;
    -webkit-word-break: normal;
    -webkit-writing-mode: horizontal-tb;
    background: transparent;
    display: block;
    font-family: "@Hiragino Mincho ProN", "@ヒラギノ明朝 Pro W3", "@IPAexMincho", "@IPAex明朝", "@MS Mincho", "@ＭＳ 明朝", "Hiragino Mincho ProN", "ヒラギノ明朝 ProW3", "IPAexMincho", "IPAex明朝", serif;
    font-size: 2em;
    hyphens: auto;
    letter-spacing: normal;
    line-break: normal;
    line-height: 1.75em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-align-last: left;
    text-indent: 0;
    vertical-align: baseline;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: break-word;
    writing-mode: horizontal-tb
    }
.middle-block {
    background: transparent;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    vertical-align: baseline
    }
.p-image {
    -epub-hyphens: auto;
    -epub-line-break: normal;
    -epub-text-align-last: left;
    -epub-text-underline-position: under left;
    -epub-word-break: normal;
    -webkit-hyphens: auto;
    -webkit-line-break: normal;
    -webkit-text-align-last: left;
    -webkit-text-underline-position: under left;
    -webkit-word-break: normal;
    -webkit-writing-mode: horizontal-tb;
    background: transparent;
    display: block;
    font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 Pro W3", "MS Mincho", "ＭＳ 明朝", serif;
    font-size: 1em;
    hyphens: auto;
    letter-spacing: normal;
    line-break: normal;
    line-height: 1.75em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-align-last: left;
    text-indent: 0;
    vertical-align: baseline;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: break-word;
    writing-mode: horizontal-tb
    }
.right {
    background: transparent;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    vertical-align: baseline
    }
.tcy {
    -webkit-text-combine: horizontal;
    background: transparent;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-combine: horizontal;
    vertical-align: baseline
    }
.text-sideways {
    -epub-text-orientation: sideways;
    -webkit-text-orientation: sideways;
    background: transparent;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-orientation: sideways;
    vertical-align: baseline
    }
.text-upright {
    -epub-text-orientation: upright;
    -webkit-text-orientation: upright;
    background: transparent;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-orientation: upright;
    vertical-align: baseline
    }
.pcalibre1:visited {
    color: #00f
    }
.pcalibre3:link {
    color: #00f
    }
.pcalibre4:focus {
    color: #00f
    }
.pcalibre2:hover {
    color: #00f
    }
.pcalibre:active {
    color: #00f
    }

